{{set . "title" "Map"}}
{{template "header.html" .}}

<link rel="stylesheet" href="/public/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">
<style>
body, 
html,
.container-fluid,
.container-fluid .row,
.container-fluid .row .main {
	height: 100%;
}
.container-fluid .row,
.container-fluid .row .main {
	/*width:110%;*/
}
#map2 {
	/*position:relative; 
	left:-20px;
	width:100%; */
	height:100%;
}
@media (min-width: 768px) {
	.container-fluid .row,
	.container-fluid .row .main {
		/*width:100%;*/
	}
	#map2 {
		/*position:relative; 
		left:-40px;*/
	}
}
</style>

<div id="map2"></div>

<div class="form-group">
	<div class="controls">
		<textarea id="requestDebug" class="form-control" cols="140" rows="8"></textarea>
	</div>
</div>

<div class="form-group">
	<div class="controls">
		<textarea id="responseDebug" class="form-control" cols="140" rows="70"></textarea>
	</div>
</div>

<!-- Modal -->
<div class="modal" id="createBox" tabindex="-1" role="dialog" aria-labelledby="createBoxLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Loading...</h4>
      </div>
      <div class="modal-body">
      	Loading...
      </div>
    </div>
  </div>
</div>


<link rel="stylesheet" href="/public/css/leaflet.css" />
<script src="/public/js/leaflet.js"></script>
<script src="/public/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js"></script>
<script>
	var response_message;
	var markers = {'init': 'init'};
	var object_list = {'init': 0};
	var client_get_schemas_json = {'action': 'client_get_schemas'};
	{{ if eq .deployment.enc_is_on "True" }}
	var client_diff_request_json = {'action': 'client_diff_request', 'dek': '{{.dek}}', 'object_uuids': object_list};
	{{ else }}
	var client_diff_request_json = {'action': 'client_diff_request', 'object_uuids': object_list};
	{{ end }}
	var tmp_geo = '';
	var geoObjectFields = {'map_location': {}, 'current_location': {}, 'icon': {}};
	var mapLayers = {};
	var schemaKeyToLabel = {};
		
	// Create a socket
	var socket = new WebSocket('ws://'+window.location.hostname+':8080/ws');
	
	// Message received on the socket
	socket.onmessage = function(event) {
		
		$("#responseDebug").html(JSON.stringify(JSON.parse(event.data), null, 4));
		
		response_message = JSON.parse(event.data);
		//console.log(response_message.client_unknown_objects);
		
		// loop through client_unknown_objects
		if(response_message.action == 'server_diff_response' && response_message.client_unknown_objects != null && response_message.client_unknown_objects.length > 0) {
			console.log('Parsing server_diff_response');
			for(var k in response_message.client_unknown_objects) {
				if(object_list[response_message.client_unknown_objects[k].uuid]===undefined) {
					
					// populate object list
					object_list[response_message.client_unknown_objects[k].uuid] = response_message.client_unknown_objects[k].time_modified_since_creation;
					
					var syncObject = response_message.client_unknown_objects[k];
					var kvp = JSON.parse(syncObject.key_value_pairs);					
					
					// get geo values
					if(geoObjectFields.hasOwnProperty('map_location') && geoObjectFields.map_location.hasOwnProperty(syncObject.object_type)){
						for(var maplocationLabelIndex in geoObjectFields.map_location[syncObject.object_type]) {
							
							var maplocationLabel = geoObjectFields.map_location[syncObject.object_type][maplocationLabelIndex];
							
							// get latlng from map_location
							var latlng = kvp[maplocationLabel].split(',');
							var lat = latlng[0];
							var lng = latlng[1];
							var marker = null;
							
							if(geoObjectFields.hasOwnProperty('icon') && geoObjectFields.icon.hasOwnProperty(syncObject.object_type) 
								&& kvp[geoObjectFields.icon[syncObject.object_type][maplocationLabelIndex]] != null
								&& kvp[geoObjectFields.icon[syncObject.object_type][maplocationLabelIndex]] != ""){
							
								var iconLabel = geoObjectFields.icon[syncObject.object_type][maplocationLabelIndex];
								var awesomeIcon = L.AwesomeMarkers.icon({
									icon: kvp[iconLabel],
									markerColor: 'darkblue',
									iconColor: 'white',
									spin: false
								});
								marker = L.marker([lat, lng], {icon: awesomeIcon});
							} else {
								
								marker = L.marker([lat, lng]);
							}
							
							
							// map pin tooltip box
							var popuphtml = "<h3>"+kvp.Title+"</h3>";
							popuphtml += "<b>Note:</b> "+kvp['Note']+"<br>";
							//popuphtml += "<b>Has Electricity:</b> <span class='label label-danger'></span><br>";
							
							popuphtml += "<hr />";
							
							popuphtml += "<b>"+maplocationLabel+":</b> "+kvp[maplocationLabel]+"<br>";
							
							if(kvp['current_location'] != undefined) {
								popuphtml += "<b>Recorded At:</b> "+kvp['current_location']+"<br>";
							}
	
							marker.bindPopup(popuphtml).openPopup().addTo(mapLayers[schemaKeyToLabel[syncObject.object_type]]);
						}
					}
				}
			}
		}
		
		// add item to known objects list
		//console.log(object_list);
		client_diff_request_json.object_uuids = object_list;
		
		// parse server_send_schemas and store references to map_locations and current_locations in geoObjectFields
		if(response_message.action == 'server_send_schemas' && response_message.schemas != null && response_message.schemas.length > 0) {
			console.log('Parsing server_send_schemas');
			
			for(var k in response_message.schemas) {
				var objectType = response_message.schemas[k];
				var objectTypeName = response_message.schemas[k].object_key;
				var objectTypeLabel = response_message.schemas[k].object_label;
				schemaKeyToLabel[objectTypeName] = objectTypeLabel;
				var isGeo = false;
				for(var l in objectType.schema) {
					var objectTypeFieldObject = objectType.schema[l];
					
					var getType = objectTypeFieldObject.type;
					if(getType == 'map_location' || getType == 'current_location') {
						console.log(objectTypeName+"."+objectTypeFieldObject.label+" is a "+getType);
						
						if(!geoObjectFields[getType].hasOwnProperty(objectTypeName)) {
							geoObjectFields[getType][objectTypeName] = [];
						}
						geoObjectFields[getType][objectTypeName].push(objectTypeFieldObject.label);
						
						isGeo = true;
					}
					if(getType == 'icon') {
						
						if(!geoObjectFields[getType].hasOwnProperty(objectTypeName)) {
							geoObjectFields[getType][objectTypeName] = [];
						}
						geoObjectFields[getType][objectTypeName].push(objectTypeFieldObject.label);
					}
				}
				
				if(isGeo) {
					mapLayers[objectTypeLabel] = new L.LayerGroup();
					map.addLayer(mapLayers[objectTypeLabel]);
				}
			}
			
			
			L.control.layers(null, mapLayers, {
				collapsed: false,
				position: 'topright'
			}).addTo(map);
			
			console.log(geoObjectFields);
		}
    }

	// Make the function wait until the connection is made...
	function waitForSocketConnection(socket, callback){
	    setTimeout(
	        function () {
	            if (socket.readyState === 1) {
	                console.log("WS connection is made");
	                if(callback != null){
	                    callback();
	                }
	                return;
	
	            } else {
	                console.log("Waiting for connection...");
	                waitForSocketConnection(socket, callback);
	            }
	
	        }, 5); // wait 5 milisecond for the connection...
	}
	
	// Sync Objects
	function getMapPins()
	{
		sendWSRequest("client_diff_request");
	}
	
	// Sync Schema
	function getSchemas()
	{
		sendWSRequest("client_get_schemas");
	}
	
	// websocket request
	function sendWSRequest(action)
	{
		console.log("Requesting "+action);
		var jsonBody = eval(action+"_json");
		
		$("#requestDebug").html(JSON.stringify(jsonBody, null, 4));
		socket.send(JSON.stringify(jsonBody));
	}
	
	// Initiate map pin sync on socket open
	waitForSocketConnection(socket, function(){
		getSchemas();
		
		getMapPins();
		setInterval(getMapPins, 8000);
		
		getLocation();
		setInterval(getLocation, 10000);
	});
	
	// create map
	var map = L.map('main-content-area').setView([{{.deployment.map_center_lat}}, {{.deployment.map_center_lon}}], {{.deployment.map_zoom_min}});
	$("#main-content-area h1.page-header").hide();
	
	L.tileLayer('http://'+window.location.hostname+':8888/{{.deployment.map_mbtiles}}/{z}/{x}/{y}.png', {
    	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Hosted by <a href="http://ldln.co">LDLN</a>',
    	maxZoom: {{.deployment.map_zoom_max}}
	}).addTo(map);
	
	L.control.scale({
		position: 'bottomleft'
	}).addTo(map);
	
	// right click for modal create form
	map.on('contextmenu', function(e) {
    	console.log(e.latlng);
		tmp_geo = e.latlng;
		$('#createBox').modal({
			'keyboard': true
		});
		$( "#createBox .modal-title" ).html("Create Pin");
		$( "#createBox .modal-body" ).load( "/types/poi/create?hide_chrome=true", function() {
			
			$("input.map_location").val(tmp_geo.lat+","+tmp_geo.lng);
			$("input.current_location").val(currentLocation);
			
			$("#createBox .modal-body form .form-group:first-child div input").focus();
			
			$("#createBox .modal-body form").submit(function (ev) {
		        $.ajax({
		            type: $("#createBox .modal-body form").attr('method'),
		            url: $("#createBox .modal-body form").attr('action'),
		            data: $("#createBox .modal-body form").serialize(),
		            success: function (data) {
						getMapPins();
		                $('#createBox').modal('hide');
		            }
		        });
		
		        ev.preventDefault();
		    });
		});
	});
	
	function getLocation() {
	    if (navigator.geolocation) {
	        navigator.geolocation.getCurrentPosition(showPosition);
	    } else {
	        console.log("Geolocation is not supported by this browser.");
	    }
	}
	var currentLocation = null;
	var currentLocationMarker = null;
	function showPosition(position) {
		currentLocation = position.coords.latitude + "," + position.coords.longitude;
		console.log("currentLocation: " + currentLocation);
		
		var locationDot = L.icon({
		    iconUrl: '/public/img/current_location_dot.png',
		    iconRetinaUrl: '/public/img/current_location_dot.png',
		    iconSize: [20, 20],
		    iconAnchor: [10, 10],
		    popupAnchor: [0, 0]
		});

		var latlng = currentLocation.split(',');
		var lat = latlng[0];
		var lng = latlng[1];
		
		if(currentLocationMarker == null) {
			currentLocationMarker = L.marker([lat, lng], {icon: locationDot}).addTo(map);
			
			var popuphtml = "<h3>Current Location</h3><span id='currentLocationPopup'>"+currentLocation+"</span>";
			currentLocationMarker.bindPopup(popuphtml);
		} else {
			var newLatLng = new L.LatLng(lat, lng);
			currentLocationMarker.setLatLng(newLatLng);
			
			$('#currentLocationPopup').html(currentLocation);
		}
	}
	
</script>


{{template "footer.html" .}}